@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<input id="movieId" hidden="hidden" value="@ViewBag.Movie[0].id">
<section class="details-banner bg_img" data-background="~/User/assets/images/banner/banner03.jpg">
    <div class="container">
        <div class="details-banner-wrapper">
            <div class="details-banner-thumb">
                <img src="https://img.youtube.com/vi/@ViewBag.Movie[0].trailer_path/0.jpg" alt="movie">
                <a href="https://www.youtube.com/watch?v=@ViewBag.Movie[0].trailer_path" class="video-popup">
                    <img src="~/User/assets/images/movie/video-button.png" alt="movie">
                </a>
            </div>
            <div class="details-banner-content offset-lg-3">
                <h3 class="title">@ViewBag.Movie[0].name</h3>
                <div class="tags">

                </div>
                @foreach(var item in ViewBag.listTag)
                {
                    <a href="#0" class="button">@item</a>
                }
                <div class="social-and-duration">
                    <div class="duration-area">
                        <div class="item">
                            <i class="fas fa-calendar-alt"></i><span>06 Dec, 2020</span>
                        </div>
                        <div class="item" id="m-duration">
                            <i class="far fa-clock"></i><span>@ViewBag.Movie[0].duration</span>
                        </div>
                    </div>
                    <ul class="social-share">
                        <li><a href="#0"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#0"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#0"><i class="fab fa-pinterest-p"></i></a></li>
                        <li><a href="#0"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#0"><i class="fab fa-google-plus-g"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>

    </div>
</section>
<!-- ==========Banner-Section========== -->
<!-- ==========Book-Section========== -->
<section class="book-section bg-one">
    <div class="container">
        <div class="book-wrapper offset-lg-3">
            <div class="left-side">
                <div class="item">

                </div>
                <div class="item">
                    <div class="item-header">
                        <div class="thumb">
                            <img src="~/User/assets/images/movie/cake2.png" alt="movie">
                        </div>
                        <div class="counter-area">
                            <span class="counter-item odometer" data-odometer-final="88">0</span>
                        </div>
                    </div>
                    <p>audience Score</p>
                </div>
                <div class="item">
                    <div class="item-header">
                        <h5 class="title">4.5</h5>
                        <div class="rated">
                            <i class="fas fa-heart"></i>
                            <i class="fas fa-heart"></i>
                            <i class="fas fa-heart"></i>
                            <i class="fas fa-heart"></i>
                            <i class="fas fa-heart"></i>
                        </div>
                    </div>
                    <p>Users Rating</p>
                </div>
                <div class="item">
                    <div class="item-header">
                        <div class="rated rate-it">
                            <i class="fas fa-heart"></i>
                            <i class="fas fa-heart"></i>
                            <i class="fas fa-heart"></i>
                            <i class="fas fa-heart"></i>
                            <i class="fas fa-heart"></i>
                        </div>
                        <h5 class="title">0.0</h5>
                    </div>
                    <p><a href="#0">Rate It</a></p>
                </div>
            </div>
          
            <a asp-controller="Home" asp-action="MovieTicketPlan" asp-route-id="@ViewData["movie_id"]" class="custom-button">book tickets</a>
             

        </div>
    </div>
</section>
<!-- ==========Book-Section========== -->
<!-- ==========Movie-Section========== -->
<section class="movie-details-section padding-top padding-bottom">
    <div class="container">
        <div class="row justify-content-center flex-wrap-reverse mb--50">
            <div class="col-lg-3 col-sm-10 col-md-6 mb-50">
                <div class="widget-1 widget-tags">
                   
                </div>
                <div class="widget-1 widget-offer">
                    <h3 class="title">Applicable offer</h3>
                    <div class="offer-body">
                        <div class="offer-item">
                            <div class="thumb">
                                <img src="~/User/assets/images/sidebar/offer01.png" alt="sidebar">
                            </div>
                            <div class="content">
                                <h6>
                                    <a href="#0">Amazon Pay Cashback Offer</a>
                                </h6>
                                <p>Win Cashback Upto Rs 300*</p>
                            </div>
                        </div>
                        <div class="offer-item">
                            <div class="thumb">
                                <img src="~/User/assets/images/sidebar/offer02.png" alt="sidebar">
                            </div>
                            <div class="content">
                                <h6>
                                    <a href="#0">PayPal Offer</a>
                                </h6>
                                <p>
                                    Transact first time with Paypal and
                                    get 100% cashback up to Rs. 500
                                </p>
                            </div>
                        </div>
                        <div class="offer-item">
                            <div class="thumb">
                                <img src="~/User/assets/images/sidebar/offer03.png" alt="sidebar">
                            </div>
                            <div class="content">
                                <h6>
                                    <a href="#0">HDFC Bank Offer</a>
                                </h6>
                                <p>
                                    Get 15% discount up to INR 100*
                                    and INR 50* off on F&B T&C apply
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="widget-1 widget-banner">
                    <div class="widget-1-body">
                        <a href="#0">
                            <img src="~/User/assets/images/sidebar/banner/banner01.jpg" alt="banner">
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 mb-50">
                <div class="movie-details">
                    <div class="tab summery-review">
                        <ul class="tab-menu">
                            <li class="active">
                                summery
                            </li>
                            <li>
                                MOVIE DISCUSSTION <span>147</span>
                            </li>
                        </ul>
                        <div class="tab-area">
                            <div class="tab-item active">
                                <div class="item">
                                    <h5 class="sub-title">Summery</h5>
                                    <p>@ViewBag.Movie[0].summery</p>
                                </div>
                                <div class="item">
                                    <div class="header">
                                        <h5 class="sub-title">cast</h5>
                                        <div class="navigation">
                                            <div class="cast-prev"><i class="flaticon-double-right-arrows-angles"></i></div>
                                            <div class="cast-next"><i class="flaticon-double-right-arrows-angles"></i></div>
                                        </div>
                                    </div>
                                    <div class="casting-slider owl-carousel">
                                        @foreach (var item in ViewBag.listCast)
                                        {
                                            <div class="cast-item">
                                                <div class="cast-thumb">
                                                    <a href="#0">
                                                        <img src="~/Admin/assets/images//actor/@item.image" alt="cast">
                                                    </a>
                                                </div>
                                                <div class="cast-content">
                                                    <h6 class="cast-title"><a href="#0">@item.name</a></h6>
                                                </div>
                                            </div>

                                        }
                                        
                                    </div>
                                </div>
                            </div>
                            <div class="tab-item">
                                <h5 class="sub-title">POST YOUR DISCUSSTION</h5>
                                <br />
                            @if (TempData["IS_LOGON"] == "true" || Model != null)
                            {

                            <div class="form-group">
                                <span id="discusstionValidateMessage" style="color:red;display:none;"></span>
                                <textarea style="background-color: #001232; color:white;" id="discusstion" placeholder="Enter your feeling about this movie?" required></textarea>
                                <button id="btnPostDiscusstion" class="custom-button mt-2" >POST NOW!</button>
                            </div>

                                    
                            }
                            else
                            {
                               <a class="custom-button mb-5" asp-controller="Auth" asp-action="Login">Login to Discusstion</a>
                            }
                            <div class="review-section mt-2">


                                @foreach (var item in ViewBag.listComment) {
                                <div class="movie-review-item">
                                    <div class="author">
                                        <div class="thumb">
                                            <a href="#0">
                                                <img src="~/User/assets/images/cast/cast02.jpg" alt="cast">
                                            </a>
                                        </div>
                                        <div class="movie-review-info">
                                            <h6 class="subtitle"><a href="#0">@item.GetType().GetProperty("displayname").GetValue(item, null)</a></h6>
                                            <span> @item.GetType().GetProperty("create_date").GetValue(item, null) <i class="far fa-clock"></i></span>
                                        </div>
                                    </div>
                                    <div class="movie-review-content">
                                        <p>@item.GetType().GetProperty("content").GetValue(item, null)</p>
                                        <div class="review-meta">
                                            <a href="#0">
                                                Report Abuse
                                                <i class="red-icon fa fa-flag "></i>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                                }
   
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script>
    var editShowScreen = function(){
                                    var dura = document.querySelector('#m-duration span');
                                    dura.innerText = handleDuration(parseInt(dura.innerText));
                                    function handleDuration(minute) {
                                        var hours = (minute - minute % 60) / 60;
                                        return "" + hours + " hours " + (minute - hours * 60) + " minutes" ;
                                    }
                                }();
</script>